<!-- About Section -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="assets/i10.jpg" alt="About Image" class="img-fluid">
      </div>
      <div class="col-lg-6">
        <h2>About HungryBites</h2>
        <p>Welcome to HungryBites, your go-to place for amazing food! We're all about giving you a fantastic dining experience that will make you want to come back for more.</p>
        <p>HungryBites is where tasty food magic happens. Our chefs put their heart into every dish, from starters that make your mouth water, to main courses that are simply delicious, and desserts that bring a sweet smile to your face. We use the best ingredients and cook everything with great care.</p>
        <p>Whether you're a food lover, someone who knows good food, or just want a memorable meal, HungryBites is the place to be. Our cozy atmosphere, friendly staff, and dedication to making great food make you feel like you're right at home.</p>
        <p>So why wait? Come and join us at HungryBites for a food adventure that will fill your taste buds with joy and create wonderful memories. We can't wait to serve you and make your time with us truly special.</p>
        </div>
    </div>
  </div>
</section>
